.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #ffd900ee;
}

.container button {
  padding: 10px;
  background-color: #ffd900ee;
  border: none;
  border-radius: 5px;
  font-family: "MedievalSharp", cursive;
  transition: 0.5s;
}
button:hover {
  background-color: #000000;
  color: #ffd900ee;
}

@media screen and (min-width: 769px) {
  .container {
    margin-top: 10%;
  }

  .container ul {
    flex-direction: row;
  }
  .container li {
    margin: 10px;
  }
  .container button {
    margin-top: 20px;
  }
}
