@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "MedievalSharp", cursive;
  vertical-align: baseline;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
